<div class="row">
  <div class="product-image">
    <img src="../../../assets/images/shirt.jpg" />
  </div>

  <div class="product-content">
    <h3>Casual Shirts</h3>
    <span class="product-sku">SKU #NEATCASUALSHIRT</span>
    <div class="product-department">
      <a href="#"> Mens </a>
      <span>></span>

      <a href="#"> casual </a>
      <span>></span>

      <a href="#"> shirts </a>
      <span>></span>
    </div>
  </div>

  <div class="product-price">
    <span>$29.9</span>
  </div>
</div>
